.skillContainer {
  border: 0px solid black;
}

.tooltipText {
  border: 1px solid black;
  color: #FFFF;
}

.gaugeTooltipLabel {
  text-align: left;
  font-size: 18px;

}

.gaugeTooltipValue {
  text-align: left;
  font-size: 30px;
}

.customLegend {
  background: #c1c1c1;
}
.symbol {
  height: 10px;
  width: 10px;
  border: 1px solid black;
}