.skillContainer {
  border: 0px solid black;
}

.tooltipText {
  border: 1px solid black;
  color: #FFFF;
}

.gaugeTooltipLabel {
  text-align: left;
  font-size: 18px;

}

.gaugeTooltipValue {
  text-align: left;
  font-size: 30px;

}

.legend-pane {
  background: #e2ffff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 10px;
}

.legend-title {
  display: inline-block;
}

.symbol {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
}