.employer-container {
  padding: 20px;
  border-bottom: 1px solid #c1c1c1;
}
.employer-container:last-child {
  border-bottom: 0px;
}

.timeline-container {
  padding: 20px;
  position: relative;
}