.activeEmployer {
  padding: 20px;
  border-bottom: 1px solid #c1c1c1;
}

.activeEmployer .label {
  font-weight: bold;
}

.activeEmployer:last-child {
  border-bottom: 0px;
}

.timelineContainer {
  padding: 20px;
  position: relative;
}